@{
    ViewBag.Title = "Index";
}

<head>
    <title>Index</title>

</head>
<h2>Customer Leads Index</h2>

<div id="cust-grid"></div>




@section scripts{
    <script src="~/Scripts/Customer/sales-index.js"></script>
}