
@{
    ViewBag.Title = "Index";
}

<h1> Welcome to the Administration Area</h1>
<p>View Some Charts, Navigate using the bar on the Top Menu</p>


<div class="demo-section k-content wide">
    <div id="line-chart" style="background: center no-repeat url('../../../../Images/worldMap_dotted.png'); "></div>

    <div id="area-chart-date-axis"></div>
</div>

@section scripts {
    @{
        var area = (string)ViewContext.RouteData.DataTokens["area"] ?? "";
    }

    <script src="~/Scripts/Management/Index/@(area.ToLower())-index.js"></script>

}

