@model UI.Areas.Management.Models.ManagementCustomerViewModel

@{
    ViewBag.Title = "Index";
}


<h2>Customers</h2>

<div id="customer-chart"></div>
<div id="customer-grid" style="background-color:orange;width:1000px;"></div>
<div id="application">

</div>

@section scripts {
    <style>
        input,
        select,
        textarea {
            max-width: 100%;
        }

        .k-dropdown {
            width: 100%;
        }
    </style>
    <script id="add-template" type="text/x-kendo-template">
        <a class="k-button" href="\#/create"><span class="k-icon k-add"></span>Add New Customer</a>
    </script>
    <script id="create-template" type="text/x-kendo-template">
        <h3>Create</h3>        
        <div class="form-horizontal" id="create-form">
            <div class="form-group">
                <label class="col-md-2 control-label">Company</label>
                <div class="col-md-6">
                    <input name="CompanyId" data-bind="value: name"  required />
                    <span class="k-invalid-msg" data-for="CompanyId"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-6">
                    <input name="Name" data-bind="value: name" class="form-control" required placeholder="Enter a Customer Name" />
                    <span class="k-invalid-msg" data-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Franchise</label>
                <div class="col-md-6">
                    <input name="Franchise" data-bind="checked: franchise" type="checkbox" />
                    <span class="k-invalid-msg" data-for="Franchise"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Phone</label>
                <div class="col-md-6">
                    <input name="Phone" data-bind="value: phone" class="form-control" required placeholder="Enter contact number" />
                    <span class="k-invalid-msg" data-for="Phone"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-6">
                    <input name="Email" data-bind="value: email" class="form-control" required placeholder="Enter a valid Email" />
                    <span class="k-invalid-msg" data-for="Email"></span>
                </div>
            </div>

            @*Image upload container with a script for listing selected file properties*@
            <div class="form-group">
                <label class="col-md-2 control-label">Image</label>
                <div class="col-md-6">
                    <form method="post" action="/kendo-ui/upload/submit">
                        <div class="form-group">
                            <input name="Image" data-bind="image" id="image" type="file" />
                            <p style="padding-top: 1em; text-align: left">
                                <input type="submit" value="Upload" class="k-button k-primary" />
                            </p>
                        </div>
                        <script id="fileTemplate" type="text/x-kendo-template">
                            <span class='k-progress'></span>
                            <div class='file-wrapper'>
                                <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
                                <h4 class='file-heading file-name-heading'>Name: #=name#</h4>
                                <h4 class='file-heading file-size-heading'>Size: #=size# bytes</h4>
                                <button type='button' class='k-upload-action'></button>
                            </div>
                        </script>
                    </form>                    
                </div>
            </div>
            
            <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-primary" data-bind="enabled: submitEnabled, click: submit" type="button">Submit</button>
                        <a class="btn btn-default" href="#/">Back To Index</a>
                    </div>
                </div>
            </div>
    </script>
    <script id="index-template" type="text/x-kendo-template">
        <h3>Index</h3>
        <div id="index-grid"></div>
    </script>
    <script id="edit-template" type="text/x-kendo-template">
        <h3>Edit</h3>
        <div class="form-horizontal" id="edit-form">
            <input type="hidden" data-bind="value: current.Id" name="Id" />
            <div class="form-group">
                <label class="col-md-2 control-label">Company</label>
                <div class="col-md-6">
                    <input name="CompanyId" data-bind="value: current.companyId" required />
                    <span class="k-invalid-msg" data-for="CompanyId"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-6">
                    <input name="Name" data-bind="value: current.name" required />
                    <span class="k-invalid-msg" data-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <label>
                            <input name="Franchise" data-bind="checked: current.franchise" type="checkbox" /> Franchise
                        </label>
                    </div>
                    <span class="k-invalid-msg" data-for="Franchise"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Phone</label>
                <div class="col-md-10">
                    <input name="Phone" data-bind="value: current.phone" required />
                    <span class="k-invalid-msg" data-for="Phone"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Email</label>
                <div class="col-md-10">
                    <input name="Email" data-bind="value: current.email" type="email" required />
                    <span class="k-invalid-msg" data-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="img-circle">
                        <label>
                            <input name="Image" data-bind="image: current.image" type="image" /> Image
                        </label>
                    </div>
                    <span class="k-invalid-msg" data-for="Image"></span>
                </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" data-bind="enabled: submitEnabled, click: submit" type="button">Submit</button>
                    <a class="btn btn-default" href="#/">Back To Index</a>
                </div>
            </div>
        </div>
    </script>
    <script id="detail-template" type="text/x-kendo-template">
        <h3>Details</h3>
        <dl class="dl-horizontal">
            <dt>Image</dt>
            <dd>
                <input type="image" data-bind="image: customer.image" disabled>
            </dd>
            <dt>Customer</dt>
            <dd data-bind="text: customer.name"></dd>
            <dt>Franchise</dt>
            <dd>
                <input type="checkbox" data-bind="checked: customer.franchise" disabled>
            </dd>
            <dt>Phone</dt>
            <dd data-bind="text: customer.phone"></dd>
            <dt>Email</dt>
            <dd data-bind="text: customer.email"></dd>

        </dl>
        <a class="btn btn-default" href="#/">Back To Index</a>
    </script>
    <script src="~/Scripts/Customer/index.js"></script>
}
