@{
    ViewBag.Title = "Index";
}

<h2>Sale Home</h2>

<h3>Statistics Charts</h3>

<h4 id="GrossSalesComparisonChart"></h4>

<h4 id="LeadAndSaleComparisonChart"></h4>

<div id="NoOfSales"></div>

<h4 id="GrossTotal"> Gross Total</h4>


<h4 id="CusGrossSalesComparisonChart"></h4>

<h4 id="CusLeadAndSaleComparisonChart"></h4>

<div id="CusNoOfSales"></div>

<h4 id="CusGrossTotal"> Gross Total</h4>

<h4 id="TotalByDate"> Gross Total</h4>


@section Scripts{
    <script src="~/Scripts/kendo/2014.3.1411/angular.min.js"></script>
    <script src="~/Scripts/kendo/2014.3.1411/kendo.angular.min.js"></script>
    <script src="~/Scripts/Sales/home-index.js"></script>
}